html {
    font-size: 62.5%;
}

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}
.cabecalho{
      display: flex;
      flex-wap: wap;
      justify-content: space-between;
      align-items:center;
      padding: 45px;
}      
.logo {
    display: flex;
    align-items: center;
}

.logotipo {
 font-size: 2rem;
 margin-left: 5.6px;
}    

.menu{
    display:flex;
    flex-flow: row wap;
    align-items: center;
}
.menu li a {
    padding: 10px 5px;
    transition: 0.3s ease-in-out;
}

ul .sobre {
    background: #5BC241;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 6px;
    padding-right:6px;
}

ul .cadastrase {
    background: #5BC241;
    border-radius: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 21px;
    padding-right: 21px;
}
    
/*li { font-size: 15px;
     margin-left: 30px;
   }*/

h1 {
 margin-left: 44.41px
}


